{
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["prettier-plugin-jinja-template"],
  "overrides": [
    {
      "files": ["*.jinja", "*.html"],
      "options": {
        "parser": "jinja-template"
      }
    }
  ] 
}
