{% extends "base.jinja" %}

{% block body %}
  <h1>About</h1>
  <p>
    A passionate computer programmer, avid movie watcher and a cat lover :)
    <a href="https://github.com/bhimsen92" target="_blank">Find me on GitHub</a>
  </p>
{% endblock %}
