{% extends "base.jinja" %}

{% block body %}
  <article
    class="bg-white rounded-lg shadow-md p-8 min-h-screen h-full max-h-screen"
    id="links"
  >
    <h1 class="text-2xl font-semibold mb-4">Latest Posts</h1>
    <ul>
      {% for post_title, post_file in post_titles %}
        <li class="mb-4 list-disc">
          <a
            href="/posts/{{ post_file }}"
            class="text-blue-500 hover:underline"
          >
            {{ post_title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </article>
{% endblock %}
