{% extends "base.jinja" %}

{% block body %}
  <!-- Main content -->
  <div class="container mx-auto flex-grow">
    <!-- Blog post -->
    <article class="bg-white rounded-lg shadow-md p-8">
      <h1 class="text-3xl font-semibold text-gray-900 mb-4">
        {{ title | safe }}
      </h1>

      <div class="flex items-center text-gray-600 mb-4">
        <p class="text-sm text-gray-500">
          <strong>Date:</strong>
          {{ date }}
        </p>
        &nbsp; &nbsp;
        <p class="text-sm text-gray-500">
          <strong>Tags:</strong>
          {{ tags | join(", ") }}
        </p>
      </div>

      <div class="max-w-6xl prose text-justify">{{ content | safe }}</div>
      <br />
      <a href="/" class="text-blue-500 hover:underline">Back to Posts</a>
    </article>
  </div>
{% endblock %}
