{% extends "layout.jinja" %}

{% block blog_title %}
  Learnings From Work and Life
{% endblock %}

{% block blog_content %}
  <p class="mb-4">
    As a sofware engineer with ten years of experience, I have seen many ups and
    downs. This has taught me many things both professionally and personally.
    Here is a summary of those learnings.
  </p>

  <p class="mb-4"></p>
  <ol class="list-decimal pl-6">
    <li class="mb-2">
      If you possess knowledge, it is impossible for anyone to deceive or trick
      you.
    </li>
    <li class="mb-2">
      Follow [Boys Scout
      Rule](https://97-things-every-x-should-know.gitbooks.io/97-things-every-programmer-should-know/content/en/thing_08/)
      as much as possible.
    </li>
    <li class="mb-2">
      Learn about [XY problem](https://xyproblem.info/) and avoid following into
      its [traps](https://meta.stackexchange.com/a/66378).
      <ol>
        <li>
          [5 Whys](https://en.wikipedia.org/wiki/Five_whys) technique can be
          effective in preventing the XY problem.
        </li>
      </ol>
    </li>
    <li class="mb-2">Take ownership.</li>
    <li class="mb-2">Write test cases always.</li>
    <li class="mb-2">
      Instead of attempting to impress others, focus on performing your work to
      the best of your ability regardless of the circumstances.
    </li>
    <li class="mb-2">
      Stay away from toxic people.
      <ol class="list-decimal pl-6">
        <li>
          Read [Asshole survival
          guide](https://www.amazon.com/Asshole-Survival-Guide-People-Treat/dp/1328695913)
          book.
        </li>
      </ol>
    </li>

    <li class="mb-2">Don't make promises but if you do, don't break them.</li>

    <li class="mb-2">
      Always underestimate and overperform than overesitmate and underform.
      Optics matter. 10. Stay away from office politics.
    </li>
    <li class="mb-2">
      When approaching problem-solving, it is advisable to adhere to first
      principles.
    </li>

    <li class="mb-2">
      Take feedback/criticism serioulsy.
      <ol class="list-decimal pl-6">
        <li class="mb-2">
          Prepare action items to overcome your shortcomings.
        </li>
        <li class="mb-2">
          It may take time to overcome these shortcomings but don't lose hope.
        </li>
      </ol>
    </li>

    <li class="mb-2">
      Don't take praise seriously and never let that boost your ego.
    </li>
    <li class="mb-2">
      You may be a slow learner but that is fine as long as you are making the
      progress.
    </li>
    <li class="mb-2">
      And finally, live your life. Job is a means to an end, don't stress too
      much.
    </li>
  </ol>
{% endblock %}
